{% extends "treats/base.html" %}
{% load static %}

{% block title %}Coupon Tracker{% endblock %}

{% block content %}
    <hr>
    {% if coupons %}
        <div class="container">
            <ul class="list-group">
                {% for coupon in coupons %}
                    <div class="row">
                        <li class="list-group-item">
                            {{ coupon.reason|title }} |

                            {% if coupon.recipient %}
                                {{ coupon.recipient }}
                            {% else %}
                                <a href="{% url "treats:coupon_edit" coupon.id %}">Assign Recipient</a>
                            {% endif %} |

                            {# If coupon is treat request -> link to treat approval page so baker can approve/reject #}
                            {% if coupon.treat.is_request %}
                                <a href="{% url "treats:treat_request_approval" coupon.id %}">Approve Treat</a>
                            {% elif coupon.treat %}
                                {{ coupon.treat }}
                            {% else %}
                                <a href="{% url "treats:coupon_edit" coupon.id %}">Assign Treat</a>
                            {% endif %}|

                            Due Date: {{ coupon.target_date.date }} |

                            Expires: {{ coupon.expiration_date.date }} |

                            Status: {{ coupon.status }}
                        </li>
                        <br>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>You have no coupons.</p>
        <a href="{% url 'treats:coupon_new' %}">New Coupon</a>
    {% endif %}

{% endblock %}
