asgiref==3.5.2
beautifulsoup4==4.11.1
boto3==1.26.10
botocore==1.29.10
Brotli==1.0.9
certifi==2022.9.24
charset-normalizer==2.1.1
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.6
configobj==5.0.6
dj-database-url==1.0.0
Django==4.1.3
django-bootstrap-icons==0.8.2
django-bootstrap-v5==1.0.11
gunicorn==20.1.0
idna==3.4
jmespath==1.0.1
pendulum==2.1.2
pgcli==3.5.0
pgspecial==2.0.1
Pillow==9.3.0
pip==22.3.1
prompt-toolkit==3.0.32
psycopg==3.1.4
psycopg2-binary==2.9.5
Pygments==2.13.0
python-dateutil==2.8.2
python-decouple==3.6
pytzdata==2020.1
requests==2.28.1
s3transfer==0.6.0
setproctitle==1.3.2
setuptools==63.4.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tabulate==0.9.0
typing_extensions==4.4.0
tzdata==2022.6
urllib3==1.26.12
wcwidth==0.2.5
wheel==0.37.1
whitenoise==6.2.0
