{% extends "treats/base.html" %}

{% load bootstrap5 %}

{% block title %}{{ treat.name }}{% endblock %}

{% block content %}

    <div>
        <h1>{{ treat.name }}</h1>
        <img src="{{ treat.picture_link }}" alt="no picture for this treat yet">
        <link href="{{ treat.recipe_link }}">
    </div>

    {#    <div>#}
    {#        My Notes:#}
    {#        {% for note in notes %}#}
    {#        {% endfor %}#}
    {#    </div>#}
    {##}
    {#    <div>#}
    {#        Comments:#}
    {#        {% for comment in comments %}#}
    {#        {% endfor %}#}
    {#    </div>#}
    {##}
    {#    <div>#}
    {#        Rating: {{ treat.review_rating }}#}
    {#        Reviews:#}
    {#        {% for review in reviews %}#}
    {#        {% endfor %}#}
    {#    </div>#}

{% endblock %}