{% extends "treats/base.html" %}

{% load bootstrap5 %}

{% block content %}

    {% block title %}{{ treat.name }}{% endblock %}

    <div>
        <h1>{{ treat.name }}</h1>
        <img src="{{ treat.cover_img }}" alt="no picture for this treat yet">
        <p>{{ treat.description }}</p>
        <p>{% for i in ""|ljust:treat.rating %}⭐{% endfor %}</p>
        <a href="{% url "treats:treat_edit" treat.id %}">Edit</a><br>
        <a href="{% url "treats:treat_delete" treat.id %}">Delete</a>
    </div>

{% endblock %}