{% extends "treats/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block title %}My Treats Catalogue{% endblock %}

{% block content %}
    <hr>
    {% if treats %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for treat in treats %}
                <div class="col">
                    <div class="card">
                        <img src="{{ treat.cover_img }}" class="card-img-top" alt="Nothing here">
                        {# previous image source: {% static "images/red_velvet_cupcake.jpg" %}#}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url "treats:treat_detail" treat.id %}">{{ treat.title }}</a>
                            </h5>
                            <p class="card-text">{{ treat.description }}</p>
                            <p class="card-text">{% for i in ""|ljust:treat.rating %}⭐{% endfor %}</p>

                            {# Have a redeem coupon button that the user can press to fill in the treat of their coupon #}
                            {% if user.coupon %}
                                <form action="{% url 'treats:my_coupons' %}" method="post" class="form">
                                    {% csrf_token %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            Redeem Coupon
                                        </button>
                                    {% endbuttons %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        No treats here! <a href="{% url 'treats:treat_new' %}">Add New Treat</a>
    {% endif %}

{% endblock %}
