{% extends "treats/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block title %}Treat Requests{% endblock %}

{% block content %}
    <hr>
    {% if treat_requests %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for treat_request in treat_requests %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ treat_request.title }}</h5>
                            <p class="card-text">{{ treat_request.description }}</p>
                            <p class="card-text">{{ treat_request.recipe_source }}</p>

                            {# Accept / Reject buttons #}
                            {# This button should change the treat boolean field #}
                            <form action="{% url "treats:accept_treat_request" treat_request.id %}" method="post"
                                  class="form">
                                {% csrf_token %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        Approve
                                    </button>
                                {% endbuttons %}
                            </form>
                            <form action="{% url "treats:reject_treat_request" treat_request.id %}" method="post"
                                  class="form">
                                {% csrf_token %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        Reject
                                    </button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'treats:coupon_tracker' %}" class="nav-link px-0">Return to Coupon Tracker</a>
    {% else %}
        No treat requests here!
        <a href="{% url 'treats:coupon_tracker' %}" class="nav-link px-0">Coupon Tracker</a>
    {% endif %}

{% endblock %}
